version: '2.1'

services:
  idam-authentication-web:
    image: docker.artifactory.reform.hmcts.net/auth/authentication-web:latest
    environment:
    - IDAM_CONTINUE_URL_VALIDATOR_ENFORCE_TLS=false
    - IDAM_ENABLE_PROXY=true
    - IDAM_API_URL=http://idam-api:8080
    links:
    - idam-api
    - service-auth-provider-app
    ports:
    - "3501:8000"

  idam-registration-web:
    image: docker.artifactory.reform.hmcts.net/auth/registration-web:latest
    environment:
    - IDAM_API_URL=http://idam-api:8080
    - IDAM_LOGIN_URL=http://idam-api:8080/login
    - IDAM_REGISTRATION_URL=http://idam-api:8080/register
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_REGISTRATION_WEB=AAAAAAAAAAAAAAAA
    links:
    - idam-api
    - service-auth-provider-app
    ports:
    - "3502:8000"

  idam-api:
    image: docker.artifactory.reform.hmcts.net/auth/idam-api:latest
    command: --wait-for-database 60
    environment:
    - IDAM_SUPERUSER_EMAIL
    - SPRING_DATASOURCE_URL=jdbc:postgresql://idam-database:5432/idam
    - SPRING_PROFILES_ACTIVE=test
    - IDAM_TESTING_SUPPORT_ENABLED=true
    - LOGGING_LEVEL_UK_GOV_HMCTS_IDAM=DEBUG
    - IDAM_AUTHENTICATION_WEB_HOST=https://idam-authentication-web:8000
    - IDAM_REGISTRATION_WEB_HOST=https://idam-registration-web:8000
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_REGISTRATION_WEB=AAAAAAAAAAAAAAAA
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_WEBSHOW=AAAAAAAAAAAAAAAA
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_CCD_GATEWAY=AAAAAAAAAAAAAAAA
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_CCD_ADMIN=AAAAAAAAAAAAAAAA
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_JUIWEBAPP=AAAAAAAAAAAAAAAA
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_COH_COR=AAAAAAAAAAAAAAAA
    - IDAM_API_OAUTH2_CLIENT_CLIENT_SECRETS_SSCS=AAAAAAAAAAAAAAAA
    - IDAM_WEBSHOW_WHITELIST=http://localhost:8080/oauth2redirect
    - http_proxy
    - https_proxy
    - no_proxy
    #      logging env vars
    - REFORM_SERVICE_TYPE=java
    - REFORM_SERVICE_NAME=idam-api
    - REFORM_TEAM=cc
    - REFORM_ENVIRONMENT=docker
    #      healthcheck env vars
    - PACKAGES_ENVIRONMENT=docker
    - PACKAGES_PROJECT=idam
    - PACKAGES_NAME=idam
    - PACKAGES_VERSION=unkown
    links:
    - smtp-server
    - idam-database
    depends_on:
    - idam-database
    - smtp-server
    ports:
    - "4501:8080"

  idam-database:
    image: docker.artifactory.reform.hmcts.net/auth/idam-database:latest
    ports:
    - "5501:5432"

  smtp-server:
    image: mailhog/mailhog

  service-auth-provider-app:
    image: hmcts/service-auth-provider-app:latest
    environment:
    - MICROSERVICEKEYS_JUI_WEBAPP=AAAAAAAAAAAAAAAA
    - MICROSERVICEKEYS_EM_GW=AAAAAAAAAAAAAAAA
    - MICROSERVICEKEYS_CCD_DATA=AAAAAAAAAAAAAAAA
    - MICROSERVICEKEYS_CCD_GW=AAAAAAAAAAAAAAAA
    - MICROSERVICEKEYS_CCD_DEFINITION=AAAAAAAAAAAAAAAA
    - MICROSERVICEKEYS_COH_COR=AAAAAAAAAAAAAAAA
    #      logging env vars
    - REFORM_SERVICE_TYPE=java
    - REFORM_SERVICE_NAME=service-auth-provider-app
    - REFORM_TEAM=rpe
    - REFORM_ENVIRONMENT=docker
    #      healthcheck env vars
    - PACKAGES_ENVIRONMENT=docker
    - PACKAGES_PROJECT=rpe
    - PACKAGES_NAME=service-auth-provider-app
    - PACKAGES_VERSION=unkown
    ports:
    - "4502:8489"

  coh-cor:
    build:
      context: .
#    image: hmcts/coh-cor:latest
    environment:
      - SERVER_PORT=8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://cor-db:5432/cor
      - SPRING_DATASOURCE_USERNAME=cor
      - SPRING_DATASOURCE_PASSWORD=cor
      - IDAM_API_URL=http://idam-api:8080
      - S2S_URL=http://service-auth-provider-app:8489
      - APPINSIGHTS_INSTRUMENTATIONKEY=test_app
    # these environment variables are used by java-logging library
      - ROOT_LOGGING_LEVEL=INFO
      - REFORM_SERVICE_TYPE=java
      - REFORM_SERVICE_NAME=coh-cor
      - REFORM_TEAM=coh
      - REFORM_ENVIRONMENT=docker
    links:
     - cor-db
    depends_on:
     - cor-db
    ports:
    - $SERVER_PORT:8080
    - "7005:7005"

  cor-db:
    image: postgres
    environment:
     - POSTGRES_USER=cor
     - POSTGRES_PASSWORD=cor
     - POSTGRES_DB=cor

    ports:
     - "5432:5432"
